@using ICPOS.EntityFramwork.Model;
@using System.Text;

@{
    Layout = null;
    IList<Module> menulist = ViewBag.MenuList;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link href="~/Script/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">layui 后台布局</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="dao_hang_lan">
                    @if (menulist != null && menulist.Any())
                    {
                        StringBuilder strbd = new StringBuilder();
                        var first = menulist.Where(a => a.Module_Level == 1);
                        foreach (var item in first)
                        {
                            strbd.Append("<li class=\"layui-nav-item\">");
                            strbd.AppendFormat("<a class=\"\" href=\"{0}\" >{1}</a>", item.Module_TrueUrl, item.Module_Name);
                            var second = menulist.Where(a => a.Module_Level == 2 && a.Module_Parent == item.Module_ID);
                            if (second != null && second.Any())
                            {
                                strbd.Append("<dl class=\"layui-nav-child\">");
                                foreach (var item2 in second)
                                {
                                    strbd.AppendFormat("<dd><a href=\"{0}\" >{1}</a></dd>", item2.Module_TrueUrl, item2.Module_Name);
                                }
                                strbd.Append("</dl>");
                            }
                            strbd.Append("</li>");
                        }
                        @(new MvcHtmlString(strbd.ToString()));
                    }
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-tab" lay-filter="demo" lay-allowclose="true">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="11">网站设置</li>
                    <li lay-id="22">用户管理</li>
                    <li lay-id="33">权限分配</li>
                    <li lay-id="44">商品管理</li>
                    <li lay-id="55">订单管理</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">内容1</div>
                    <div class="layui-tab-item">内容2</div>
                    <div class="layui-tab-item">内容3</div>
                    <div class="layui-tab-item">内容4</div>
                    <div class="layui-tab-item">内容5</div>
                </div>
            </div>
            @RenderBody();

        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    <script src="~/Script/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var $ = layui.jquery
                , element = layui.element;

            element.on('nav(dao_hang_lan)', function (data) {
                console.log(data);
            })
        });
    </script>
</body>
</html>
