
@{
    Layout = null;
    ICPOS.EntityFramwork.Model.Role MRole = ViewBag.RoleMod == null ? new ICPOS.EntityFramwork.Model.Role() : ViewBag.UsersMod;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>角色授权</title>
    <link href="~/Script/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <form class="layui-form layui-form-pane" action="" style="padding:20px;" lay-filter="userform">
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
                <div class="layui-input-inline" lay-filter="UsersRole">
                    <input type="text" name="Role_Name" required lay-verify="required" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色说明</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <input type="text" name="Role_Description" required lay-verify="required" placeholder="请输入角色说明" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色权限</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <ul id="RoleTree" class="dtree" data-id="0"></ul>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            </div>
        </div>
    </form>
    <script src="~/Script/layui/layui.js"></script>
    <script type="text/javascript">
        layui.config({
            base: '/Script/layui_exts/dtree/',
        }).extend({
            dtree: 'dtree' //定义该组件模块名
        }).use(['element', 'layer', 'dtree'], function () {
            var layer = layui.layer,
                dtree = layui.dtree,
                $ = layui.$;


            dtree.render({
                elem: "#RoleTree",  //绑定元素
                url: "@Url.Action("GetRoleMenuList", "AdmMenu")"  //异步接口
            });

            //单击节点 监听事件
            dtree.on("node('demoTree1')", function (param) {
                layer.msg(JSON.stringify(param));
            });
        });
    </script>
</body>
</html>
