
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户列表</title>
    <link href="~/Script/layui/css/layui.css" rel="stylesheet" />
</head>
<body layadmin-themealias="default" style="">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header ">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <select name="sex">
                                <option value="0">不限</option>
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="请选择" value="不限" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="0" class="layui-this">不限</dd><dd lay-value="1" class="">男</dd><dd lay-value="2" class="">女</dd></dl></div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn " lay-submit="" lay-filter="condition-query">
                            <i class="layui-icon layui-icon-search "></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-card-body">
                <div class="layui-btn-group demoTable">
                    <button class="layui-btn" data-type="UsersDel">删除</button>
                    <button class="layui-btn" data-type="UsersAdd">添加</button>
                </div>

                <table class="layui-table" lay-data="{width: 892, height:332, url:'@Url.Action("GetUsersList","AdmUsers")', page:true, id:'tabid',width:'100%',text:'查无数据'}" lay-filter="TabUsersList">
                    <thead>
                        <tr>
                            <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
                            <th lay-data="{field:'Users_ID', width:80, sort: true, fixed: true}">ID</th>
                            <th lay-data="{field:'Role_Name', width:200}">用户角色</th>
                            <th lay-data="{field:'Name', width:200, sort: true}">用户名称</th>
                            <th lay-data="{field:'Phone', width:160}">联系电话</th>
                            <th lay-data="{field:'Email', width:200}">邮箱</th>
                            <th lay-data="{field:'CreateDate', width:250, sort: true}">创建时间</th>
                            <th lay-data="{field:'Status', width:80}">状态</th>
                            <th lay-data="{field:'Note', width:300, sort: true}">备注</th>
                            <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}"></th>
                        </tr>
                    </thead>
                </table>

                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>

            </div>
        </div>
    </div>

    <script src="~/Script/layui/layui.js"></script>
    <script>
        layui.use(['table', 'layer'], function () {
            var $ = layui.jquery, table = layui.table, layer = layui.layer;

            //监听表格复选框选择
            table.on('checkbox(demo)', function (obj) {
                console.log(obj)
            });

            //监听工具条
            table.on('tool(TabUsersList)', function (obj) {
                var data = obj.data;
                if (obj.event === 'detail') {
                    layer.msg('ID：' + data.id + ' 的查看操作');
                } else if (obj.event === 'del') {
                    layer.confirm('确认删除该数据', function (index) {
                        obj.del();
                        $.ajax({
                            type: 'post',
                            url: '@Url.Action("Delete", "AdmUsers")',
                            data: {Users_ID:obj.data.Users_ID },
                            datatype: 'json',
                            success: function (res) {
                                var json = JSON.parse(res);
                                if (json.code == 0) {
                                    layer.msg(json.msg);
                                } else {
                                    layer.msg(json.msg)
                                }
                            }
                        });
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    layer.alert('编辑行：<br>' + JSON.stringify(data))
                }
            });

            var $ = layui.$, active = {
                UsersDel: function () { //获取选中数据
                    var checkStatus = table.checkStatus('id')
                        , data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                }
                , UsersAdd: function () { //添加
                    //iframe窗
                    layer.open({
                        type: 2,
                        title: '用户添加',
                        closeBtn: 1, //不显示关闭按钮
                        shade: [0],
                        area: ['500px', '450px'],
                        offset: 'auto', //弹出位置
                        anim: 2,
                        content: ['@Url.Action("UsersAdd","AdmUsers")'], //iframe的url，no代表不显示滚动条
                        end: function () {
                            table.reload('tabid');
                        }
                    });
                }
            };

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
</body>
</html>
